# do not export certain files
/.gitattributes                     export-ignore
/.gitignore                         export-ignore
/phpunit.end-to-end-encryption.xml  export-ignore
/phpunit.server-side-encryption.xml export-ignore
/phpunit.sh                         export-ignore
/tests                              export-ignore

